.google-login-button-container {
  width: 100%;
  margin-top: 1rem; /* Adjust the top margin if needed */
}

.google-login-button-container .google-login-button {
  width: 100%; /* Ensure the button takes full width of its container */
  display: flex; /* Align items properly */
  justify-content: center; /* Center the button horizontally */
}

.dropdown{
  color: white !important;
  margin-left: 4px;
}

.log1 {
  transition: transform 1s ease-in-out; /* Smooth transition on hover out */
}

.log1:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out; /* Smooth transition on hover */
}
.numtrimeals {
  /* transition: transform 1s ease-in-out; Smooth transition on hover out */
}
.numtrimeals:hover{
  /* transform: scale(1.01); */
  /* transition: transform 0.5s ease-in-out; */
 box-shadow: 2px 5px 10px #888888;
}


/* .curver{
  background-color: aqua;
  height: 500px;
  width: 100%;
  border-radius: 0 0 100% 100% ;
} */